@keyframes camlu {
   
    from{  transition: transform 0.5s ease ;
   transform: translateY(2px) ;}
    to{transition: transform 0.5 ease ;
   transform: translateY(-2px) ;}
    
}
@media only screen and (min-width:1140px) {
   
.profileimage{display: inline;}

.profileintro{display: inline;
margin-left: 3vw;}
.list{
  list-style: none;
  margin-top: 2px;
}
.intuu{height: 90px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 23px;
    border-radius: 5px;
width: auto;}

.identity{display: flex;
justify-content: flex-start;
border: 2px solid black;
margin-top: 15px;
height: 92px;
margin-left: 15px;
margin-right: 15px;
border-radius: 5px;}



}
@media only screen and (min-width:750px ) and (max-width: 1140px){
  

.profileimage{display: inline;}

.profileintro{display: inline;
margin-left: 3vw;}

.list{
    list-style: none;
    margin-top: 2px;

}
.intuu{
    height: 90px;
      margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    border-radius: 5px;
    width: auto;
}
.identity{
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 8px;
    height: 92px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
}
@media only screen and (max-width:750px ){

.profileimage{display: inline;}

.profileintro{display: inline;
margin-left: 3vw;}
.list{
    list-style: none;
    margin-top: 2px;

}
.intuu{
    height: 90px;
      margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    border-radius: 5px;
    width: auto;
}
.identity{
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 8px;
    height: 92px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}}