* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(backgi.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;padding: 0;
    min-height: 100vh;
   
    
}
.camli{
    position: relative;
    width: 92vw;
    margin-right: 4vw;
    margin-left: 4vw;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* animation-name: camlu;
animation-iteration-count: infinite;
animation-duration: 0.5s;
animation-direction: alternate;
animation-timing-function: linear;
animation-delay: 1s; */

}
.introimage{animation-name: camlu;
animation-iteration-count: infinite;
animation-duration: 0.5s;
animation-direction: alternate;
animation-timing-function: linear;
animation-delay: 1s;
position: relative;}



.yu{
    display: flex;
    align-items: center;
}
a{text-decoration: none; font-size: 10px; color: black;}


footer{
    width: 100%;
    height: auto;
    background-color: rgb(13, 8, 26);
    color: aliceblue;
    position: static;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    
    
    
   border-top-left-radius: 9px;
   border-top-right-radius: 9px;
}





@media only screen and (min-width:1140px) {
    .endu{
   padding: 45px;
   text-align: center;margin-left: 10vw;
   display: flex;
   justify-content: center;
   gap: 45px;

}
   
    .search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;
    margin-left: 6vw;
        margin-right: 8vw;
        position: sticky;
        top : 1px;
        
        z-index: 1;
        

}
    #searchInput {
 
  width: 200px;
  height: 26px;
  align-self: center;
  border-radius: 9px;
  background-image: url(image\ copy\ 4.png);
}
.butto {
  
  height: 30px;
  align-self: center;
  
  border-radius: 9px;
  background-color: rgb(250, 250, 94);
  width: 40px;
  
}

.imgcato{display: inline-grid;
}
.catochild{
    display: contents;
}


.container{
    width: 1074px;
    margin-left: auto;
    margin-right: auto;

}
.catogery{
        width: 240px;
        margin-left: 8px;
        margin-right: 8px;
        height: auto;
        margin-top: 25px;
        border-radius: 9px;
        filter: blur(1px);
    }



    .button{
    width: 240px;
    border-radius: 9px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 8px;
        margin-right: 8px;
    
}


    .nav {
        display: flex;
        justify-content: space-between;
        height: 52px;

        border-radius: 15px;
        width: 90vw;
        align-items: center;
       background-image: url(image\ copy\ 4.png);
        align-items: center;
        margin: auto;
        margin-top: 15px;
        border: solid black;
        border-width: 1px;
        margin-bottom: 1px;
        margin-left: 6vw;
        margin-right: 8vw;
        
    }

    .imgo {
        height: 40px;
        margin-top: 8px;
        margin-bottom: 1px;
        border-radius: 5px;
    }


    .lefto {
        display: flex;
        justify-content: left;
        gap: 12px;
        align-items: center;
        margin-left: 30px;
    }

    .righto {
        display: flex;
        justify-content: right;
        margin-right: 30px;
        
    }
}

@media only screen and (max-width:1140px) {
   


   

   
    .nav {
        display: flex;

        width: 100vw;
       border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        background-image: url(image\ copy\ 4.png);
        height: 48px;
        margin-top: 2px;
        
    
        
        border: solid black;
        border-width: 1px;
         margin-bottom: 1px;

    }

    .righto {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        

    }

    .lefto {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        

    }
    .imgo{
        height: 46px ;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}
@media only screen and (max-width:750px){
    .search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
  
        

}
.endu{
   
   text-align: center;
   margin-left: 10vw;
   
   

}

    #searchInput {
 
  width: 20vw;
  height: 15px;
  align-self: center;
  border-radius: 9px;
  background-color: rgb(250, 250, 94);
}
.butto {
  
  height: 20px;
  align-self: center;
  
  border-radius: 9px;
  background-color: rgb(250, 250, 94);
  width: 8vw;
}
    .catogery{
        width: 100%;
        /* margin-left: 7.5%;
        margin-right: 7.5%; */
        height: auto;
        margin-top: 5px;
        border-radius: 9px;
        filter: blur(1.1px);
    }


 .imgcato{display: inline-grid;
     width: 34%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        height: auto;}
    .catochild{display: contents;}
   
    .button{
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 9px;
    width: 100%;
    
    
}

}
@media only screen and (min-width:750px ) and (max-width: 1140px){
   
.endu{
   
   text-align: center;margin-left: 10vw;
 
   

}

      .search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    
        

}
    #searchInput {
 
  width: 200px;
  height: 26px;
  align-self: center;
  border-radius: 9px;
  background-color: rgb(250, 250, 94);
}
.butto {
  
  height: 30px;
  align-self: center;
  
  border-radius: 9px;
  background-color: rgb(250, 250, 94);
  width: 40px;
}

    

     .catogery{
        width: 100%;
        /* margin-left: 4%;
        margin-right: 4%; */
        height: auto;
        margin-top: 5px;
        border-radius: 9px;
        filter: blur(1.1px);
    }
    .imgcato{display: inline-grid;
     width: 24.9%;
        margin-left: 4%;
        margin-right: 4%;
        height: auto;}
    .catochild{display: contents;}

.button{
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 9px;
    width: 100%;
}

}